<h2 class="title is-2">World War II Aircrafts</h2>

<ol class="ml-5">
  <% @aircrafts.each do |aircraft| %>
  <li><%= link_to aircraft.name, aircraft %> was mad in <%= aircraft.origin_country.name %></li>
    <% end %>
</ol>