<hr>
<footer>
  <p>
    <em>all rights reserved</em>
  </p>
  <ul class="mt-5">
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'List of all aircrafts', aircrafts_path %></li>
    <li><%= link_to 'List of all origin countries', origin_countries_path %></li>
  </ul>
</footer>